<!-- <ion-content>
    <h2>Login</h2>
    <div>
        <ion-input placeholder="enter your name" type="text">user name:</ion-input>
        <ion-input type="password" placeholder="enter password">password</ion-input>
        <ion-button type="submit">login</ion-button>
        <ion-button type="submit">Register</ion-button>
    </div>
</ion-content> -->

<!-- i wamt -->
 <!-- <div>
     <h2>login</h2>
    <input placeholder="email"  type="text" required><br>
    <input placeholder="password" type="password"><br>
    <ion-button  [routerLink]="['/sai']" routerLinkActive="router-link-active" >LOGIN</ion-button><br>
    <ion-button  [routerLink]="['/form2']" routerLinkActive="router-link-active" >register</ion-button><br> -->
    <!-- end -->
    <!-- <ion-text > dont have an account</ion-text><br>
    <ion-button  [routerLink]="['/signup']" routerLinkActive="router-link-active" >register</ion-button> -->
  <!-- </div> -->
  <!-- <app-header></app-header> -->
  <ion-content>
      <div style="text-align: center;">
          <h2><B><U>LOGIN</U></B></h2>
          <form  [formGroup]="loginform" (ngSubmit)="onSubmit()">
              <b>Email</b><br>
              <input type="text" formControlName="email"><br>

              <div>
                <span  style="color: red;" *ngIf="loginform.get('email').hasError('required') && loginform.get('email').touched">Email is required</span>
                  <span  style="color: red;" *ngIf="loginform.get('email').hasError('pattern')">invalid</span>
              </div>

              

              <b>password:</b><br>
              <input type="password" formControlName="password"><br>

              <div>
                <span  style="color: red;" *ngIf="loginform.get('password').hasError('pattern')">must contain 8 characters & one spl and numaric</span>
              </div>

              <ion-button type="submit"    [disabled]="!loginform.valid" >Login</ion-button>
              <ion-button  [routerLink]="['/form2']"  >Register</ion-button>
          </form>
      </div>
  </ion-content>

  <!-- [routerLink]="['/profile']" -->
