.ion {
  width: 1365px;
  height: 751px;
}
.img {
  margin-left: 183.7px;
  margin-right: 192.3px;
  margin-bottom: 375.1px;
  margin-top: 63.3px;
}
.icon {
  font-size: 45px;
}
.personal {
  width: 141px;
  height: 19px;
  color: #666666;
  margin-left: -23px;
}
.name {
  padding: 20px;
  width: 78px;
  height: 78px;
  margin-top: -78px;
  background-color: rgba(204, 204, 204, 0.2);
  // margin-left: 159px;
  margin-left: 125px;
}

.class {
  width: 32.4px;
  height: 36.1px;
  font-size: 60px;
  padding: -48px;
}
.appp {
  padding: 20px;
  width: 78px;
  height: 78px;
  margin-top: -78px;
  background-color: rgba(204, 204, 204, 0.2);
  // margin-left: 350px;
  margin-left: 237px;
}

.Icon-ionic-md-map {
  // width: 27px;
  // height: 27px;
  // background-color: #cccccc;

  width: 32.4px;
  height: 36.1px;
  font-size: 60px;
  padding: -48px;
}

.Ellipse-50 {
  padding: 20px;
  width: 78px;
  height: 78px;
  margin-top: -78px;
  background-color: rgba(204, 204, 204, 0.2);
  margin-left: 351px;
}
.Peronal-Information {
  width: 141px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-left: -32px;
}
.License-Doc {
  width: 91px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: rgba(102, 102, 102, 0.5);
  margin-top: -36px;
  margin-left: 126px;
}
.Tax-Doc {
  width: 57px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: rgba(102, 102, 102, 0.5);
  margin-top: -36px;
  margin-left: 247px;
}
.address {
  width: 59px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: rgba(102, 102, 102, 0.5);
  margin-top: -36px;
  margin-left: 370px;
}
.Select-Type- {
  width: 93px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  // margin-top: 61px;
  margin-top: -2px;
}
// .Icon-ionic-md-radio-button-on {
//   width: 21px;
//   height: 21px;
//   background-color: rgba(102, 102, 102, 0.6);
//   margin-top: 59px;

// }
.Icon-ionic-md-radio-button-on {
  width: 21px;
  height: 21px;
  background-color: rgba(102, 102, 102, 0.6);
}
.Icon-ionic-md-radio-button-on {
  width: 21px;
  height: 21px;
  background-color: rgba(102, 102, 102, 0.6);
  margin-top: 59px;
}
.Agency {
  width: 53px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: rgba(102, 102, 102, 0.6);
  // margin-top: 58px;
  margin-top: 12px;

  margin-left: 7px;
}
.Person {
  width: 50px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: rgba(102, 102, 102, 0.8);
  margin-top: 58px;
  margin-left: 7px;
}
.Path-749 {
  width: 605px;
  height: 45px;
  background-color: rgba(204, 204, 204, 0.3);
}
.Enter-Your-Name {
  // width: 605px;
  width: 470px;
  height: 45px;
  background-color: rgba(204, 204, 204, 0.3);
  border: transparent;
}
.Path-750 {
  width: 605px;
  height: 45px;
  background-color: rgba(204, 204, 204, 0.3);
  margin-top: 32px;
}
.Enter-email {
  // width: 70px;
  // height: 17px;
  width: 471px;
  height: 45px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: rgba(102, 102, 102, 0.8);
  border: transparent;
}
.Rectangle-268 {
  // width: 145px;
  // height: 45px;
  // border-radius: 4px;
  // // background-color: rgba(255, 159, 28, 0.8);
  // // margin-left: -23px;
  // // margin-top: 54px;

  // margin-top: 40px;
  // margin-left: -122px;
  width: 145px;
  height: 45px;
  border-radius: 4px;
  background-color: rgba(255, 159, 28, 0.8);
  margin-left: 326px;
  margin-top: 18px;
}
.Property-Manager-Registration {
  width: 381px;
  height: 34px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.64;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-left: 53px;
  margin-top: 5px;
}

.Next {
  width: 145px;
  height: 45px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #ffffff;

  // margin-top: 40px;
  // margin-left: -122px;
}
.Path-746 {
  width: 31.9px;
  height: 31.9px;
  background-color: #fdfffc;
  margin-top: -237px;
  /* margin-bottom: 76px; */
  margin-left: 214px;
  border-radius: 150px;
}
.Ellipse-44 {
  width: 31.9px;
  height: 31.9px;
  background-color: rgba(1, 22, 39, 0.9);
  margin-top: -237px;
  margin-left: 15px;
  border-radius: 150px;
  margin-left: 39px;
}
.Path-738 {
  width: 32.6px;
  height: 32.6px;
  // background-color: #2ec4b6e8 ;
  border-radius: 150px;
  margin-top: -237px;
  margin-left: 14px;
  border-color: rgba(64, 65, 64, 0.548);
  border-style: solid;
  margin-left: 39px;
}
.divc {
  width: 32.6px;
  height: 32.6px;
  // background-color: #2ec4b6e8 ;
  border-radius: 150px;
  margin-top: -237px;
  margin-left: 14px;
  border-color: rgba(64, 65, 64, 0.548);
  border-style: solid;
  margin-left: 39px;
  // border-style: solid;
  border-bottom-style: solid;
}
