<div>
  <p>registration works!</p>

  <ion-grid class="ion">
    <ion-row>
      <ion-col style="background-color: #2ec4b6e8; height: 577px; margin-right: 41px; border-bottom: groove;">
        <img class="img" src="assets/logo2.svg" />
        <ion-row>
          <div class="Path-746"></div>

          <div class="Ellipse-44"></div>
          <div class="Path-738"></div>
          <div class="divc"></div>
        </ion-row>
      </ion-col>

      <ion-col style="background-color: #ffffff;">
        <ion-col class="qwe">
          <p class="Property-Manager-Registration">Property Manager Registration</p>
        </ion-col>
        <ion-avatar
          style="
            background-color: rgba(46, 196, 182, 0.91);
            padding: 16px;
            width: 78px;
            height: 78px;
            margin-top: 51px;
          "
        >
          <ion-icon style="color: white;" class="icon" name="person"></ion-icon>
          <!-- <ion-icon  class="class"
    style="color: #cccccc; ;" name="document-outline"></ion-icon> -->
        </ion-avatar>
        <!-- <p class="personal">Peronal Information</p>  -->
        <ion-avatar class="name">
          <ion-icon class="class" style="color: #cccccc;" name="document-outline"></ion-icon>
        </ion-avatar>
        <ion-avatar class="appp">
          <ion-icon class="class" style="color: #cccccc;" name="document-outline"></ion-icon>
        </ion-avatar>
        <ion-avatar class="Ellipse-50">
          <ion-icon class="Icon-ionic-md-map" name="map-outline"></ion-icon>
        </ion-avatar>
        <div>
          <p class="Peronal-Information">Peronal Information</p>
          <p class="License-Doc">License Doc</p>
          <p class="Tax-Doc">Tax Doc</p>
          <p class="address">Address</p>
        </div>
        <div>
          <ion-row>
            <p class="Select-Type-">Select Type :</p>
            <input type="radio" name="one" />
            <label>Agency</label><br />
            <input type="radio" name="one" />
            <label>Person</label><br />
          </ion-row>
          <div>
            <input class="Path-749 Enter-Your-Name" placeholder="Enter Your Name " />
            <input class="Path-750 Enter-email" placeholder="Enter email" />
          </div>
          <div>
            <ion-button color="warning" class="Rectangle-268 Next">Next</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
