div {
  margin-left: 40%;
  margin-top: 20px;
}
.logo {
  margin-top: 18px;
  margin-left: 102px;
  margin-right: 140px;
}
.size {
  height: 27px;
  width: 54px;
  color: white;
  margin-left: 29px;
  margin-top: 7px;
}
.and {
  line-height: 13px;
  color: white;
  margin-top: -10px;
  margin-right: -8px;
  margin-left: -263px;
  size: 14px;
}
.color {
  line-height: 14px;
  color: #ff9f1c;
  margin-top: -28px;
  size: 14px;
  margin-right: 148px;
  margin-left: 206px;
}
.number {
  margin-left: 0px;
  margin-right: 211px;
  width: 178px;
  height: 45px;
  border-radius: 20px;
  margin-top: -9px;
}
.radious {
  width: 132px;
  height: 44px;
  line-height: 25px;
  margin-top: -33px;
  margin-left: 25px;
  letter-spacing: 12.55px;
}
.ion-button {
  color: white;
  width: 125px;
  height: 45px;
  border-radius: 50px;
  line-height: 25px;
  background-color: #ff9f1c;
  margin-left: 192px;
  margin-top: -71px;
  text-align: center;
  padding: 10px;
}
.align {
  text-align: center;
  color: beige;
  width: 164px;
  margin-top: -10px;
  margin-left: 102px;
}
.otp {
  border-radius: 10px;
  background-color: white;
  line-height: 16px;
  size: 12px;
  margin-right: 254px;
  margin-top: -7px;
  margin-left: 132px;
  text-size-adjust: 1px;
  font-size: small;
}
.in {
  color: #ff9f1c;
  text-emphasis-color: white;
  text-align: center;
  margin-top: -11px;
  margin-left: -114px;
}
.with {
  background-color: rgb(46, 196, 182, 0.7);
  color: white;
  border-radius: 39px;
  margin-top: 35px;
  margin-left: 110px;
  font-size: small;
  margin-right: 255px;

  height: 25px;
  width: 100px;
}
.fb {
  height: 50px;
  width: 50px;
  margin-top: -50px;
  margin-left: -185px;
}
.tw {
  height: 50px;
  width: 201px;

  margin-left: 76px;
}
.ac {
  margin-right: 117px;
  text-align: center;
  border-radius: 20px;

  margin-top: 27px;
  margin-left: 59px;
  color: rgba(46, 196, 182, 0);

  background-color: #ff9f1c;
}
