<div style="width: 350px; height: 500px; border-radius: 10px; background-color: rgb(148, 147, 145);">
  <ion-grid>
    <ion-row
      size="465px
    "
    >
      <ion-col size="103px">
        <img class="logo" style="width: 123px; height: 55px;" src="assets/logo.svg" />
        <p class="size">Login</p>
        <p class="and" style="text-align: center;">Enter the code just sent to</p>
        <p class="color">+919492123402</p>
        <br />
        <input class="number" />
        <p class="radious">000000</p>
        <p class="ion-button">Submit</p>
        <p class="align">Didn't get a text ?</p>
        <p class="otp">Resend OTP</p>
        <p style="border-bottom: groove;" class="in">In 00:59</p>

        <p class="with">Login With OTP</p>
        <div>
          <img class="fb" src="assets/facebook.svg" />
          <img class="tw" src="assets/twitter.svg" />
        </div>
        <input class="ac" placeholder="Create Account" />
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
