<!-- <ion-content>
  <div style="background: url(assets/dhoni.jpg) height: 150px; width: 100%; ;background-repeat: no-repeat;"></div>
  <ion-card style="background-color: yellowgreen;">
    <ion-title>hello</ion-title>
  </ion-card>
</ion-content> -->

<div>
  <ion-row>
    <ion-col >
      
      <ion-text  style="text-align: center;" >
        successfully login complated</ion-text
      >
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-text>Click here to go to <a routerLink="/signin">Login Page.</a></ion-text>
    </ion-col>
  </ion-row>
</div>
