.Path-231 {
  width: 100%;
  height: 60px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 6px 2px 0 rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to bottom, rgba(55, 188, 176, 0.75), rgba(55, 188, 176, 0.7));
}
.Path-491 {
  width: 287px;
  height: 59.8px;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.28);
  background-color: rgba(78, 173, 184, 0.8);
  margin-top: 0;
}

// .nav {
//   width: 1001.5px;
//   height: 21px;
//   object-fit: contain;
//   margin-left: 101px;

// }

.profilesample {
  width: 188.2px;
  height: 190.8px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.16);
  border: solid 5px rgba(206, 205, 205, 0.8);
  border-radius: 150px;
  margin-left: 45px;
  margin-top: 14px;
}
.Icon-awesome-user-alt {
  color: black;
  border-color: black;
  width: 25.4px;
  height: 27.4px;
  margin-left: 55px;
  margin-top: 12px;
}
.Mona {
  width: 111px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.25;
  text-align: left;
  // color: #ffffff;
  color: rgb(211, 210, 210);
  margin-left: 101px;
  margin-top: -30px;
}
.Path-489 {
  width: 25px;
  height: 52px;
  background-color: var(--mango);
  color: #ff9f1c;
}
.DashBoard {
  width: 78px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  color: #011627;
  margin-left: 43px;
}
.Path-476 {
  width: 278px;
  height: 52px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: rgb(207, 194, 194);
  display: inline-flex;
}
.arrow-dropdown {
  width: 25px;
  height: 25px;
  // margin-left: 20px;
  // padding: 10px
  margin-left: 64px;
  padding: 17px;
  // margin-left: 224px;
}
.Icon-awesome-building {
  width: 13.2px;
  height: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  // background-color: red
  margin-top: 20px;
  margin-left: 2px;
}
.Properties {
  width: 74px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #474646;
  margin-left: 73px;
  display: inline-flex;
}
.social {
  width: 13.2px;
  height: 15.8px;
  object-fit: contain;
  color: #474646;
  margin-left: 15px;
}
.Users {
  width: 41px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #474646;
  margin-left: 84px;
  margin-top: -24px;
}
.clipboard-check {
  width: 11.8px;
  height: 15.8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
  color: #474646;
  margin-left: 12px;
}
.Policy {
  width: 43px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #474646;
  margin-left: 79px;
  margin-top: -24px;
}
.ios-settings {
  width: 15.2px;
  height: 15.3px;
  box-shadow: #474646;
  margin-left: 12px;
}
.Setting {
  width: 50px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #474646;
  margin-left: 79px;
  margin-top: -23px;
}
.Path-492 {
  width: 340px;
  height: 200px;
  // box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.16);
  // background-color: rgba(201, 163, 198, 0.7)    ;
  background-color: rgba(255, 159, 28, 0.7);
  border-radius: 10px;
  margin-left: 60px;
  display: inline-flex;
}
.main-div {
  // background-color: rgb(111, 241, 241);
  background-color: #949797;
  height: 576px;
  width: 287px;
  // overflow-y: auto;
}
.one1 {
  // overflow-x:scroll;
}
.inter {
  display: inline-flex;
}
.socialme {
  width: 74px;
  height: 65.8px;
  margin-top: 43px;
  margin-left: -1px;
  // background-color: rgba(204, 204, 204, 0.36);
}
.Total-User {
  width: 95px;
  height: 25px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 2.62;
  text-align: right;
  color: white;
  margin-top: 6px;
  margin-left: 137px;
}
.range {
  width: 115px;
  height: 61px;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  font-family: Roboto;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  text-align: right;
  color: #ffffff;
  margin-left: -112px;
  margin-top: 72px;
}
.Path-4925 {
  box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(42, 160, 174, 0.6);
  width: 340px;
  height: 200px;
  border-radius: 10px;
  margin-left: 60px;
}
.From-last-Week {
  font-size: 25px;
  line-height: 2.12;
  color: white;
  text-align: center;
  margin-top: 149px;
  margin-left: -225px;
}
.transportation {
  width: 74px;
  height: 65.8px;
  margin-top: 43px;
  margin-left: -1px;
  object-fit: contain;
}
.-From-last-Week {
  width: 210px;
  height: 30px;
  font-family: Roboto;
  font-size: 25px;
  line-height: 2.12;
  text-align: right;
  color: white;
  margin-left: 87px;
}
.angular {
  width: 158px;
  height: 61px;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  font-family: Roboto;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  text-align: right;
  color: white;
  margin-left: 146px;
  margin-top: -118px;
}
.Average-Time {
  width: 127px;
  height: 25px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 2.62;
  text-align: right;
  color: white;
  margin-left: 166px;
  margin-top: -184px;
}
.Path-502 {
  width: 36px;
  margin-top: 98px;
  margin-left: 20px;
  height: 35px;
  opacity: 0.1;
  background-color: white;
  border-radius: 545px;
}
.Ellipse-37 {
  width: 19px;
  height: 19px;
  opacity: 0.2;
  background-color: #ffffff;
  margin-left: 10px;
  border-radius: 30px;
  margin-top: 8px;
}
.Path-4921 {
  // width: 305px;
  // height: 173px;
  width: 340px;
  height: 200px;
  border-radius: 10px;
  margin-left: 60px;
  box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(230, 27, 52, 0.6);
}
.iron {
  width: 74px;
  height: 65.8px;
  margin-top: 43px;
  margin-left: -1px;
  object-fit: contain;
  color: white;
}
.rangeits {
  width: 115px;
  height: 61px;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  font-family: Roboto;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  text-align: right;
  color: white;
  margin-top: -114px;
  margin-left: 17px;
  margin-left: 184px;
}
.Total-Bookings {
  width: 144px;
  height: 25px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 2.62;
  text-align: right;
  color: white;
  margin-left: 166px;
  margin-top: -184px;
}
.path-4911 {
  width: 340px;
  height: 200px;
  background-color: rgba(42, 160, 174, 0.6);
  border-radius: 10px;
  margin-left: 60px;
  display: inline-flex;
}
.Total-ATTRA {
  width: 121px;
  height: 25px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 2.62;
  text-align: right;
  color: #ffffff;
}
.From-last-Weeks {
  font-size: 25px;
  line-height: 2.12;
  color: white;
  text-align: center;
  margin-top: 149px;
  // margin-left: -91px;
  margin-left: -286px;
}
.ranges {
  width: 115px;
  height: 61px;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  font-family: Roboto;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  text-align: right;
  color: #ffffff;
  margin-left: 75px;
  margin-top: 72px;
}
.one {
  width: 340px;
  height: 200px;
  background-color: rgba(42, 160, 174, 0.6);
  border-radius: 10px;
  margin-left: 60px;
  display: inline-flex;
  margin-top: 94px;
}
.one {
  width: 340px;
  height: 200px;
  background-color: rgba(42, 160, 174, 0.6);
  border-radius: 10px;
  margin-left: 60px;
  display: inline-flex;
}
.ones {
  width: 340px;
  height: 200px;
  background-color: rgba(1, 22, 39, 0.5);
  border-radius: 10px;
  margin-left: 60px;
  display: inline-flex;
}
.socials {
  width: 68.7px;
  height: 82.3px;
  object-fit: contain;
  margin-left: 17px;
  margin-top: 22px;
}
.FromlastWeek {
  font-size: 25px;
  line-height: 2.12;
  color: white;
  text-align: center;
  margin-top: 149px;
  margin-left: -208px;
}
.Total-TGO {
  width: 93px;
  height: 25px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 2.62;
  text-align: right;
  color: #ffffff;
  margin-left: 131px;
  margin-top: 8px;
}
.Path-504 {
  width: 35px;
  height: 35px;
  opacity: 0.1;
  background-color: #ffffff;
  margin-top: 115px;
  margin-left: -43px;
  border-radius: 19px;
}
.Path-5045 {
  width: 19px;
  height: 19px;
  opacity: 0.1;
  background-color: #ffffff;
  margin-top: 160px;
  margin-left: -43px;
  border-radius: 19px;
}
// .Path-492567{
//   box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.16);
//   background-color: rgba(42, 160, 174, 0.6);
//   width: 340px;
//   height: 200px;
//   border-radius: 10px;
//   margin-left: 60px;
// }
