<div>
  <ion-row class="Path-231">
    <ion-col class="Path-491" size="2.24">
      <img clas="road" src="assets/road.svg " />
    </ion-col>
  </ion-row>
  <div class="one1">
    <ion-row>
      <div class="main-div">
        <ion-col class="Path-474" size="4" size-xs="12" size-sm="4" size-md="4" size-lg="4" size-xl="4">
          <img class="profilesample" src="assets/dhoni.jpg" />
          <div>
            <ion-icon class="Icon-awesome-user-alt" name="person"></ion-icon>
            <p class="Mona">sai kiran</p>
          </div>
          <div class="Path-476">
            <ion-icon class="Path-489" name="home"></ion-icon>
            <p class="DashBoard">DashBoard</p>
            <ion-icon class="arrow-dropdown" name="caret-down-outline"></ion-icon>
          </div>
          <div>
            <ion-icon class="Icon-awesome-building" name="reader"></ion-icon>
            <p class="Properties">Properties</p>
          </div>
          <div>
            <ion-icon class="social" name="person-sharp"></ion-icon>
            <p class="Users">Users</p>
          </div>
          <div>
            <p class="clipboard-check">
              <ion-icon name="clipboard-sharp"></ion-icon>
            </p>
            <p class="Policy">Policy</p>
          </div>
          <div>
            <ion-icon class="ios-settings" name="settings-sharp"></ion-icon>
            <p class="Setting">Setting</p>
          </div>
        </ion-col>
      </div>

      <ion-col size="8" size-xs="12" size-sm="12" size-md="8" size-lg="8" size-xl="8">
        <ion-row>
          <ion-col size="4">
            <div class="Path-492">
              <img class="socialme" src="assets/social.svg" />
              <p class="Total-User">Total User</p>
              <p class="range">2250</p>
              <p class="From-last-Week">4% From last Week</p>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="Path-4925">
              <img class="transportation" src="assets/transportation.svg" />
              <p class="-From-last-Week">4% From last Week</p>
              <p class="angular">123.50</p>
              <p class="Average-Time">Average Time</p>
              <div class="Path-502"></div>
              <div class="Ellipse-37"></div>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="Path-4921">
              <ion-icon class="iron" name="cart-sharp"></ion-icon>
              <p class="-From-last-Week">4% From last Week</p>
              <p class="rangeits">2250</p>
              <p class="Total-Bookings">Total Bookings</p>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="one">
              <img class="socialme" src="assets/social.svg" />
              <p class="Total-User">Total User</p>
              <p class="range">2250</p>
              <p class="From-last-Week">4% From last Week</p>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="one">
              <img class="socialme" src="assets/social.svg" />
              <p class="Total-User">Total User</p>
              <p class="range">2250</p>
              <p class="From-last-Week">4% From last Week</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="one">
              <img class="socialme" src="assets/social.svg" />
              <p class="Total-User">Total User</p>
              <p class="range">2250</p>
              <p class="From-last-Week">4% From last Week</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</div>
