<!-- <ion-card>
    <ion-card-header (click)="toggleAccordion()">
        CALENDER
    </ion-card-header>
    <ion-card-content #cc>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolor aliquam voluptate ad,
         exercitationem nisi odit optio, ipsam, vero maxime minima corporis molestias ratione.
          Corrupti hic nisi facere quo cumque?
    </ion-card-content>
</ion-card> -->
<div >
<img  style="padding: 20px;" src="assets/virat.jpg">
<img style="padding: 20px;" src="assets/dhoni.jpg">
<img  style="height: 250px; padding: 10px;" src="assets/raina.jpg">
</div>